[Unit]
Description=Live camera on flash server.
After=multi-user.target

[Service]
Type=idle
#ExecStart=/usr/bin/python3 /home/gen64/Desktop/picamera2-flask/code.py
ExecStart=/home/gen64/.venv/picam-env/bin/python3 /home/gen64/Desktop/picamera2-flask/code-telegram.py

[Install]
WantedBy=multi-user.target
